body {
    font-family: Helvetica, sans-serif;
    margin: 65px;
}

header {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid black;
    padding-bottom: 35px;
}

header h1 {
    margin: 0 10% 0 0;
    display: inline-block;
}

nav * {
    display: inline-block;
    margin: 0 12px;
    text-decoration: none;
    color: rgb(0,154,2);    
    padding-bottom: 5px;
}

main h1 {
    font-size: larger;  
    margin-top: 20px;
}