.need-a-website {
    display: flex;
    width: 80%;
    margin: 3em auto;
}

.need-a-website div:nth-child(1) {
    flex-shrink: 1;
}

.need-a-website div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.need-a-website i {
    font-size: 150px;    
}

.need-a-website button {
    background: inherit;
    border: 2px solid #1B1B1B;
    padding: 0.3em;    
    border-radius: 4px;
}

.need-a-website button a {
    text-decoration: none;
    color: #1B1B1B;
}