@media screen and (max-width: 1280px) {
    body {
        width: 90vw;
    }

    footer section:first-child {
        margin-left: 5vw;    
    }
    
    footer section:last-child {
        margin-right: 5vw;
    }
}

@media screen and (max-width: 720px){
    footer {
        flex-direction: column;
    }

    footer section {
        width: 100%;
        margin: 0 0 0 2em;
    }

    .card {
        width: 45%;
    }

    body {
        width: 70vw;
    }

    .nav-toggle-button {
        display: inline;
    }

    header nav ul {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 90vw;
    }
}