body {
    background: rgb(238, 238, 238);
    font-size: 12px;    
}

header h1 {
    text-transform: uppercase;
    border-bottom: 3px solid black;
    text-align: start;
    padding-bottom: 1em;
    font-weight: bold;
}

img {
    background: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid black;
    display: block;
}

blockquote p:nth-child(2) {
    text-align: right;
}

aside {
    margin-left: 5em;
}

aside a {
    color: rgb(0, 153, 0);
}

h1,
h2 {
    font-family: Georgia, serif;
}

h2 {
    margin-top: 1em;
}

.page {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 4em;
}

.container {
    display: flex;
}

.container>blockquote {
    font-family: Georgia, serif;
    flex: 1;
    border-left: 4px solid lightgray;
    padding-left: 2em;
    font-style: italic;
}

.container>p {
    flex: 1;
}

.page header {
    width: 100%;
}

@media (min-width: 500px) {
    body {
        font-size: 14px;
    }

}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }

    .page main :nth-child(2) {
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    
    .page main :nth-child(10) {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }
}

@media (min-width: 800px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1300px) {
    body {
        font-size: 21px;
    }
}

@media (min-width: 1800px) {
    body {
        font-size: 23px;
    }
}