body {
    background: rgb(238, 238, 238);
}

img {
    background: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid black;
    margin: 1em;
}

header {
    display: flex;
    border-bottom: 3px solid black;
    padding-bottom: 5px;   
}

header p {
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 42px;    
    text-align: start;
    font-weight: bold;
    margin: 0;
}

header nav li {
    display: inline-block;
    margin: 0 1em;
}

header nav li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

blockquote p:nth-child(2) {
    text-align: right;
}

aside {
    margin-left: 2em;
}

aside a {
    color: rgb(0, 153, 0);
}

h1, h2 {
    font-family: Georgia, serif;
}


.page {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 4em;
}

.container {
    display: flex;
}

.container > blockquote {
    font-family: Georgia, serif; 
    flex: 1;    
    border-left: 4px solid lightgray;
    padding-left: 2em;
    font-style: italic;
}

.container > p {
    flex: 1;    
}


.page header {
    width: 100%;
}

.page main {
    flex: 0 0 70%;
}

.page main :nth-child(2) {
    float: right;
}

.page main :nth-child(10) {
    float: left;
}

