body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
        gap: 1em;
}

@media (max-width: 500px) {
    body {
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }    
}

h2, h3 {
    font-size: 36px;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;    
}

aside ul {
    list-style-type: none;
    padding-left: 0;
}

aside ul li {
    margin-bottom: 1em;
}

aside ul li a {
    text-decoration: none;    
    font-size: large;
}

main {
    grid-area: main;
}

main ul li {
    margin: 0 auto;
}

main ul li p {
    padding: 0;
    margin: 0.3em;
}

footer {
    grid-area: footer;
}

footer p {
    padding: 0;
}

.layout-item {
    background-color: #B5D8FF;
    border-radius: 5px;
    padding: 0 1em;
}