body {
    margin: 3em;
}

header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
}

header h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: serif;
    flex-grow: 1;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

nav ul {
    display: flex;
    flex: 1 0 2em;
    list-style: none;
    justify-content: end;
    align-items: flex-start;
    gap: 1em;
    margin-right: 1em;    
}

nav ul li {
    list-style-type: none;    
}

main h1 {
    font-size: 26px;
    font-weight: normal;
}